$small-text-size: 14px;

$main-color: #1abc9c;
$secondary-color: #555252;
$common-background-color: #e9f0fd;
$section-title-color: #515151;

$main-color-light: lighten($main-color, 15%);
$secondary-color-light: lighten($secondary-color, 15%);

